<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cosa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.univnantes.asa.cosa.presentation.CosaModelWizardID"
            name="%_UI_CosaModelWizard_label"
            class="fr.univnantes.asa.cosa.presentation.CosaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CosaModelFile.gif">
         <description>%_UI_CosaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cosa -->
      <editor
            id="fr.univnantes.asa.cosa.presentation.CosaEditorID"
            name="%_UI_CosaEditor_label"
            icon="icons/full/obj16/CosaModelFile.gif"
            extensions="cosa"
            class="fr.univnantes.asa.cosa.presentation.CosaEditor"
            contributorClass="fr.univnantes.asa.cosa.presentation.CosaActionBarContributor">
      </editor>
   </extension>

</plugin>
