<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cosa -->
      <package
            uri="platform:/resource/fr.univnantes.asa.cosa/model/cosa.ecore"
            class="fr.univnantes.asa.cosa.CosaPackage"
            genModel="model/Archive/cosa.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecoreM1 -->
      <package
            uri="cosaM1"
            class="cosaM1.CosaM1Package"
            genModel="model/ecoreM1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecoreM1 -->
      <package
            uri="http://www.example.org/cosa"
            class="cosa.CosaPackage"
            genModel="model/ecoreM1.genmodel"/>
   </extension>
</plugin>
