<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cosa -->
      <package
            uri="cosa"
            class="cosa.CosaPackage"
            genModel="model/cosa.genmodel"/>
   </extension>

</plugin>
